body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    justify-content: center;
    background-image:url(1.jpg) ;
    background-size: cover;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    text-align: center;
    color: rgb(8, 8, 8);
    
}

.time{
    display: flex;
}

.time div{
    margin: 5px;
    position: relative;
}

.time span{
    width: 100px;
    height: 100px;
    background-color: rgb(187, 25, 202);
    opacity: .8;
    color: wheat;
    justify-content: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    display: flex;
   align-items: center;
}

.time .text{
   height: 30px;
   background-color: rgb(90, 2, 53);
   opacity: .9;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2px;
   align-items: center;
   

}

.time #Real{
    bottom: 0;
    position: absolute;
    font-size: 22px;
    background-color: green;
    width: 55px;
    height: 30px;
    

}